.section{

    background-color: black;
    display: flex;
    width: 85%;
    padding: 20px;
    margin: 30px auto;
    justify-content: space-evenly;
    border-radius: 25px;
    font-size: 20px;  
    color: white;
 

    & svg {

        width: 8%;
        height: 11%;
        margin-top: 15px;
    }

}